<%- layout('./main.ejs') %>

<main class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Bienvenidos</h1>
        <p class="lead"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, assumenda.</p>
        <hr class="mt-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus dolore dolorem, veritatis sed voluptate rem enim iusto reprehenderit deleniti distinctio? Quibusdam delectus ullam recusandae numquam nihil veritatis iure facilis error.</p>
    </div>
    
</main>

