<%- layout('./main') %>
<div class="card mt-4">
    <div class="card-head">
        <h1 class="text-center mt-4">Mi Perfil</h1>
    </div>
    <div class="card-body">
        <span class="material-icons md-48">face</span>
        <p class="email-user">Email: 
            <%= user.email%>
        </p>
    </div>
</div>